@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcom to Joel Hilton's Movie Emporium!</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="img/JoelHiltonHeadshot.jpg" />
</div>
